body{
	margin: 0;
	padding: 0;
}
.news-block{
	width:100%;
	display: table;
}
.news-block a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:inherit;
}
.news-block a:hover{
	color:#ce0220;
}
.news-block h6{
	margin-top: -5px;
	font-family: 'PT Sans', sans-serif;
}
.news-one{
	width:330px;
	height:250px;
	float:left;
	margin-left:4.5%;
	margin-top: 50px;
	text-align: center;
	cursor: pointer;
}
.news-one a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:inherit;
}
.news-one:hover{
	color:#ce0220;
}
.news{
	width: 350px;
	height: 200px;
	float:left;
	margin-left: 5%;
	margin-top: 50px;
	text-align: right;
}
.news a{
	float:left;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:inherit;
	margin-top:25px;

}
.news p{
	float:left;
	margin-top: -3px;
	font-family: 'Roboto', sans-serif;
}
.news h6{
	float:right;
	margin-top:2px;
	font-family: 'PT Sans', sans-serif;
	
}
.news a:hover{
	color:#ce0220;
}
.banners{
	width:100%;
	display: table;
	background-color: #c9c9c9;
}
.banners h6{
	font-family: 'PT Sans', sans-serif;
	text-align: center;
}
.banner-one{
	width:300px;
	height:265px;
	float:left;
	margin-left: 3%;
	margin-top: 50px;
	background-color: white;
}
.banner-one img{
	width:300px;
	height: 200px;
}
.banner-one a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:inherit;
	text-align: center;
}
.banner-one a:hover{
	color:#ce0220;
}
.banner-two{
	width:300px;
	height:265px;
	float:left;
	margin-left: 3%;
	margin-top: 50px;
	background-color: white;
}
.banner-two img{
	width:300px;
	height: 200px;
}
.banner-two a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:inherit;
	text-align: center;
}
.banner-two a:hover{
	color:#ce0220;
}
.banner-three{
	width:300px;
	height:265px;
	float:left;
	margin-left: 3%;
	margin-top: 50px;
	background-color: white;
}
.banner-three img{
	width:300px;
	height: 200px;
}
.banner-three a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:inherit;
	text-align: center;
}
.banner-three a:hover{
	color:#ce0220;
}
.banner-four{
	width:300px;
	height:265px;
	float:left;
	margin-left: 3%;
	margin-top: 50px;
	background-color: white;
}
.banner-four img{
	width:300px;
	height: 200px;
}
.banner-four a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:inherit;
	text-align: center;
}
.banner-four a:hover{
	color:#ce0220;
}