body{
	margin: 0;
	padding: 0;
}
.news-block{
	width:100%;
	display: table;
	border:1px solid black;
}
.news-block a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:inherit;
}
.news-block a:hover{
	color:#ce0220;
}
.news-block h6{
	float:left;
	margin-top: -5px;
	font-family: 'PT Sans', sans-serif;
}
.news-one{
	width:330px;
	height:250px;
	border:1px solid red;
	float:left;
	margin-left:4.5%;
	margin-top: 50px;
	text-align: center;
	cursor: pointer;
}
.news-one a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:inherit;
}
.news-one:hover{
	color:#ce0220;
}
.news{
	width: 350px;
	height: 200px;
	border:1px solid red;
	float:left;
	margin-left: 5%;
	margin-top: 50px;
	text-align: right;
}
.news a{
	float:left;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:inherit;
	margin-top:25px;

}
.news p{
	float:left;
	margin-top: -3px;
	font-family: 'Roboto', sans-serif;
}
.news h6{
	float:right;
	margin-top:2px;
	font-family: 'PT Sans', sans-serif;
	
}
.news a:hover{
	color:#ce0220;
}
.banners-health{
	width:100%;
	display: table;
	border:1px solid orange;
}